.profile{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.info{
	display: block;
	float: left;	
	border: 3px double black;
}

.pic{
	float: right;
}

.leftline{
	float: left;
}

.rightline{
	float: right;
}

.photo{
	float: right;
}

body{
	background: lightblue;
}