.profile{
    margin-left: auto;
    margin-right: auto;
    display: grid;
  	grid-template-columns: 1fr 1fr;
}

.info{
	display: block;
}

.leftline{
	float: left;
	width: 50%;
}

.rightline{
	float: right;
	width: 50%;
}

.photo{
	float: right;
}
